---
layout: default
title: Resume
style: resume
---
%section#download
  Download as <a href="Sean_Anastasi-Resume.pdf">pdf</a>, 
  <a href="Sean_Anastasi-Resume.tex">LaTeX</a> or
  <a href="Sean_Anastasi-Resume.txt">plain text</a>

%section#resume.content
  %address
    4060 9th Ave NE, Apt 607<br />
    Seattle, WA 98105<br />
    (240) 447-3083

  %a#email sean AT anasta DOT si
  %script(type="text/javascript")
    var e = document.getElementById('email');
    e.innerHTML = String.fromCharCode(115,101,97,110,64,97,110,97,115,116,97,46,115,105);
    e.href = 'mailto:' + e.innerHTML;

  %section#education
    %h1 Education
    <a rel="external" href="http://www.washington.edu">University of Washington</a><br />
    <a href="http://sdb.admin.washington.edu/sisDegreeValidation/Public/default.aspx">
    Bachelor of Science, Computer Science (<time>2010</time>)</a>
    <br />
    Major GPA 3.68<br />
    Overall GPA 3.33<br />

  %section#honors
    %h1 Honors and Awards
    %ul
      %li Eagle Scout Award
      %li Dean’s list Aut. 2006, Aut. 2007
      %li Glerum Endowed Scholarship (CSE Departmental Scholarship)

  %section#work-experience
    %h1 Work Experience
    %section
      %h2 Amazon.com, Inc., <address>Seattle, WA</address>
      %time Jun., 2009 - Sep., 2009
      .position Software Development Engineer Intern
      %p
        Designed and implemented a production system for quantity limits on
        items and a system to automatically set those limits on items sold
        at a loss.

    %section
      %h2 University of Washington CSE, <address>Seattle, WA</address>
      %time Jan., 2008 - Jun., 2010
      .position
        Undergraduate Teaching Assistant
        CSE 142 (Introductory Computer Science I), CSE 341 (Programming Languages)
        
      %p
        Taught a one hour section of 20-30 students, taught in the
        Introductory Programming Laboratory, graded homework and exams and
        developed classroom material and grading criteria.

    %section
      %h2 Government Employees Insurance Company (GEICO), <address>Chevy Chase, MD</address>
      %time Jul., 2007 - Sep., 2007
      .position Web Design Intern
      %p
        Worked on projects within the Underwriting and Project Management
        department to improve GEICO’s intranet.

      %ul
        %li Translation of page data from HTML to XML-based structure. Developed XML schemas and DTDs.
        %li Improved departmental web development skills in HTML, XML and XSLT.

  %section#projects
    %h1 Areas of Study/ Projects
    %ul
      %li Digital Design, Assembly Language, Embedded Systems Design
      %li Formal Semantics, Compiler Design
      %li Computer Graphics
      %li Website Design - Designed and built webpages for several student organizations
      %li Operating Systems - Modified the Linux and Windows Server kernel, FAT file system in class projects.
      %li
        Computer Vision, AI, Embedded Systems - 
        Designed, built and programmed autonomous, maze-solving robot
        on an embedded Linux system.

  %section#research
    %h1 Undergraduate Research
    %time Jan., 2008 - Jun. 2010
    %h2 MobileASL - <a href="http://mobileasl.cs.washington.edu">http://mobileasl.cs.washington.edu</a>
    %p
      Video compression to enhance intelligibility of Sign Language communication. Worked on porting the
      application from Windows Mobile to a new, Linux-based phone. Embedded linux development,
      network communication and media framework experience.

  %section#relevant-skills
    %h1 Relevant Skills
    %p
      Excellent computer skills and problem solving ability. Experience planning, organizing, and executing a
      project from start to finish. Ability to learn new skills very quickly and immediately use them
      effectively.

    %p
      Experience with programming, debugging, graphics, hardware, and networking in Linux, Windows
      Vista/XP/2000.

    %p
      Proficiency in a large number of programming languages including Java, C, Ruby and Python.
      Considerable experience with web design and languages such as HTML, Javascript, Ruby on Rails,
      PHP and ASP. Experience with many other languages including C++/C#, Perl, Scheme, Haskell, etc.
    
    %p
      Some ability in Swedish, Japanese and Spanish.

