---
layout: profile
---
%section(itemscope itemtype="http://data-vocabulary.org/Person")
    %aside#sidebar
        %a(href="http://facebook.com/sean.anastasi")
            %img(itemprop="photo" class="snapshot" alt="A photo of me." src="/img/facebook.cgi")
    
    %header
        %h1(itemprop="name") Sean Anastasi
    
    %section.content
        %p Things the internet already knows about me:
        
        %ul.textual
            %li
                in <a href="http://students.washington.edu/unleashd/">Unleashed A Cappella</a>.
            %li
                on <a itemprop="url" href="http://www.facebook.com/sean.anastasi">Facebook</a>,
                <a itemprop="url" href="http://www.linkedin.com/in/seananastasi">LinkedIn</a>.
            %li
                did an internship at <a href="http://www.google.com/search?q=sean+anastasi+geico">GEICO</a>.
            %li
                won 6th grade first place in the
                <a href="http://www.google.com/search?q=sean+anastasi+rockville+art+show">Rockville Art Show</a>
                (the internet never forgets).

        %p Other things you might want to know about me:
        %ul.textual
            %li originally from Olney, MD.
            %li graduated from the <a href="http://www.cs.washington.edu">University of Washington</a> in 2010.
            %li currently a <span itemprop="title">Software Development Engineer</span> at <span itemprop="affiliation">Amazon.com</span>
            %li was an SDE Intern at Amazon.com (Summer 2009).
            %li
                did a study abroad at <a href="http://www.kth.se/">Kungliga Tekniska Högskolan</a>
                in Stockholm, Sweden. (See a project I worked on <a href="/other/courses/dd2426/">here</a>).
            %li
                worked on the <a href="http://mobileasl.cs.washington.edu/">MobileASL</a> 
                research project at UW CSE.

