!!!
%html{html_attrs}
  %head
    %meta(http-equiv="Content-Type" content="text/html;charset=utf-8")
    %title Sean Anastasi
    
    %link(rel="stylesheet" type="text/css" href="/css/profile.css")

  %body
    %section#contents
      {{ content }}
      
      %nav#links
        %ul
          %li
            %a(href="/resume/")   Resume
          %li
            %a(href="/projects/") Projects

    %footer
      %a(class="w3c" rel="external" href="http://validator.w3.org/check/referer") HTML 5
      %a(class="w3c" rel="external" href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3") CSS 3

